<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.plexapp.plugins.hdhrviewer.v2</string>

		<key>PlexClientPlatforms</key>
		<string>*</string>
		
		<key>PlexFrameworkVersion</key>
		<string>2</string>
		
		<key>PlexMediaContainer</key>
		<array>
			<string>MP4</string>
		</array>
		<key>PlexVideoCodec</key>
		<array>
			<string>H.264</string>
		</array>
		<key>PlexAudioCodec</key>
		<array>
			<string>AAC</string>
		</array>
		
		<key>PlexPluginCodePolicy</key>
		<string>Elevated</string>
	</dict>
</plist>
